@model SMS2.ViewModel.AttendanceModel

@{
                /**/

                /**/

                ViewBag.Title = "MarkAttendance";
                Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("MarkAttendance", "Attendance", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="box box-danger">
        <h2> &nbsp;&nbsp;MarkAttendance</h2>
        <div class="container">

            <div class="row">
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">
                            DATE &nbsp; <i class="fa fa-calendar"></i>
                        </div>
                        <input class="form-control text-center" type="text" value="@DateTime.Now.ToShortDateString()" name="classId" readonly="readonly" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">CLASS</span>
                        @Html.HiddenFor(item => item.classId)
                        <input class="form-control text-center" type="text" value="@ViewBag.classID" name="classId" readonly="readonly" />
                    </div>
                </div>
            </div>
            <div class="row">
                <hr class="col-md-10" />
            </div>

            <div class="row">
                <div class="col-md-12">

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Student Name</th>
                                <th>Student ID</th>
                                <th>Attendance</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.attendanceList.Count; i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>
                                    @Html.HiddenFor(item => item.attendanceList[i].studentList.st_Name)
                                    <td>@Html.DisplayFor(item => item.attendanceList[i].studentList.st_Name)</td>
                                    @Html.HiddenFor(item => item.attendanceList[i].studentList.st_ID)
                                    <td style="padding-left:25px;">@Html.DisplayFor(item => item.attendanceList[i].studentList.st_ID)</td>
                                    <td style="padding-left:32px;">
                                        @Html.CheckBoxFor(item => item.attendanceList[i].attStatus)
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">

            </div>
            <div class="col-md-4">
            </div>
            <div style="padding-bottom:30px;" class="col-md-3">
                <button type="submit" class="btn btn-block btn-success btn-lg">Save</button>
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
}
