@model SMS2.ViewModel.AttendanceModel

@{
    /**/

    /**/

    ViewBag.Title = "Mark Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("MarkAttendance", "Attendance", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="box box-danger">
        <div class="box-header with-border">
            <h2> &nbsp;&nbsp;Mark Attendance</h2>
        </div>
        <div class="box-body">
            <div class="row" style="width:104%;">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <b>Date&nbsp;&nbsp;</b>
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input class="form-control text-center" type="text" value="@DateTime.Now.ToShortDateString()" name="date" readonly="readonly" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <b>Class</b>
                        </div>
                        @Html.HiddenFor(item => item.classId)
                        
                        <input class="form-control text-center" type="text" value="@ViewBag.classID" name="classId" readonly="readonly" />
                    </div>
                </div>
            </div>
            <div class="row" style="width:102%; padding-left:10px;">
                <hr />
            </div>

            <div class="row" style="width:104%;">
                <div class="col-md-12">

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th style="padding-left:10px; width:50px;">#</th>
                                <th>Student Name</th>
                                <th>Student ID</th>
                                <th>Attendance</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.attendanceList.Count; i++)
                            {
                                <tr>
                                    <td style="padding-left:10px;">@(i + 1)</td>
                                    @Html.HiddenFor(item => item.attendanceList[i].studentList.st_Name)
                                    <td>@Html.DisplayFor(item => item.attendanceList[i].studentList.st_Name)</td>
                                    @Html.HiddenFor(item => item.attendanceList[i].studentList.st_ID)
                                    <td style="padding-left:25px;">@Html.DisplayFor(item => item.attendanceList[i].studentList.st_ID)</td>
                                    <td style="padding-left:32px;">
                                        @Html.CheckBoxFor(item => item.attendanceList[i].attStatus)
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row" style="width:104%;">

            </div>
            <div class="col-md-4">
            </div>
            <div style="padding-bottom:30px;" class="col-md-3">
                <button type="submit" class="btn btn-block btn-success btn-lg">Save</button>
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
}
