@model SMS2.ViewModel.StudentAttendanceModel

@{
    ViewBag.Title = "viewStudentAttendance";
    Layout = "~/Views/Shared/_LayoutForStudent.cshtml";
}

<div class="box box-danger">
    <div class="box-header with-border">

        <h2> &nbsp;&nbsp;Attendance Details</h2>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="input-group">
                    <div class="input-group-addon">
                        <b>Month:&nbsp;&nbsp;</b>
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input class="form-control text-center" type="text" value="@ViewBag.month" readonly="readonly" />
                </div>
                <div class="col-md-2"></div>

            </div>
        </div>
        <div class="row" style="width:102%; padding-left:10px;"> <hr /></div>
        <div class="row" style="width:104%;">
            <div class="col-md-10">
            </div>

            
                <div class="col-md-12">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.AttendanceList.Count; i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>

                                    <td>@Html.DisplayFor(item => item.AttendanceList[i].att_Date.Value.DayOfWeek), @Html.DisplayFor(item => item.AttendanceList[i].att_Date)</td>

                                    <td>@Html.DisplayFor(item => item.AttendanceList[i].att_Status)</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            
        </div>
    </div>
</div>

