@model SMS2.ModelView.StudentStudentResultViewModel
@{
    ViewBag.Title = "addResultInside";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("addResultInside", "StudentResult", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="box box-primary">
            <div class="box-header with-border" style="padding-bottom:0px;">
                <div class="jumbotron" style="padding-bottom:0px;padding-top:0px; background-color:white;">
                    <center>
                        <h2 style="font-family:Arial;font-size:35px;font-weight:bold;">Add Result</h2>
                        <p style="font-family:Arial;font-size:25px;">@ViewBag.subjectName</p>
                    </center>
                </div>
            </div>


            <!-- /.box-header -->
            <!-- form start -->

            <div class="form-group">
                <center>
                    <div class="col-md-2"></div>

                    @Html.Label("Student Name", htmlAttributes: new { @class = "control-label col-md-2", @style = "margin-left:4.5%;" })


                    <div class="col-md-3">


                        @Html.DropDownListFor(model => model.studentResultview.st_ID, new SelectList(Model.studentsview, "st_ID", "st_Name")

, htmlAttributes: new { @class = "form-control", @style = "width:300px;text-align:center;max-width:100%;" })
                        @Html.ValidationMessageFor(model => model.studentResultview.st_ID, "", new { @class = "text-danger" })
                    </div>
                </center>
            </div>

            <div class="form-group">
                <center>
                    <div class="col-md-2"></div>
                    @Html.Label("Result Type", htmlAttributes: new { @class = "control-label col-md-2", @style = "margin-left:4.5%;" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.studentResultview.str_Type, new { htmlAttributes = new { @class = "form-control", @style = "width:300px;max-width:100%;",@required = "required" } })
                        @Html.ValidationMessageFor(model => model.studentResultview.str_Type, "", new { @class = "text-danger" })
                    </div>
                </center>
            </div>

            <div class="form-group">
                <center>
                    <div class="col-md-2"></div>
                    @Html.Label("Maximum Marks", htmlAttributes: new { @class = "control-label col-md-2", @style = "margin-left:4.5%;" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.studentResultview.str_MaxMarks, new { htmlAttributes = new { @class = "form-control", @style = "width:300px;max-width:100%;", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.studentResultview.str_MaxMarks, "", new { @class = "text-danger" })
                    </div>
                </center>
            </div>

            <div class="form-group">
                <center>
                    <div class="col-md-2"></div>
                    @Html.Label("Obtained Marks", htmlAttributes: new { @class = "control-label col-md-2", @style = "margin-left:4.5%;" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.studentResultview.str_MarksObt, new { htmlAttributes = new { @class = "form-control", @style = "width:300px;max-width:100%;" , @required = "required" } })
                        @Html.ValidationMessageFor(model => model.studentResultview.str_MarksObt, "", new { @class = "text-danger" })
                    </div>
                </center>

            </div>






            <div class="form-group">
                <center>
                    <div class="col-md-2"></div>
                    @Html.Label("Obtained Marks", htmlAttributes: new { @class = "control-label col-md-2", @style = "margin-left:4.5%;width:300;max-width:100%;color:white;opacity:0;" })
                    <div class="col-md-3">
                        <input type="submit" class="btn btn-block btn-primary btn-sm" value="ADD" style="height:50px;width:300px;color:white;font-family:Arial;font-size:25px;margin-bottom:10px;max-width:100%;" />

                    </div>
                </center>
            </div>

            <div class="form-group">
                <div class="col-md-2"></div>
                <center>
                    <label class="control-label col-md-2" style="margin-left:43px;"></label>

                </center>

            </div>
        </div>

    </div>

}
